name: CI

on:
  push: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
        architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified

    - uses: actions/cache@v2
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ hashFiles('requirements.txt') }}

    - name: Install Requirements
      run: |
        pip install --upgrade -r requirements.txt

    - name: Test
      run: |
        export PYTHONPATH=$PYTHONPATH:$PWD
        python tests/test_unit_wise.py
        python tests/test_conjugate.py
        python tests/test_mvp.py
